@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text-blue-600 {
  position: absolute;
  bottom: 20px;
  left: 45%;
}
